.card-image {
    width: 100%;
    height: auto;
}

.header {
    .logo {
        padding: 15px 0;
        img {
            height: 40px;
        }
    }
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dark {
    background: #2e2e2e;
}
.light {
    background: #efefef;
}
